body {
    padding: 0;
    margin: 0;
    transition: background-color 0.5s ease;
}

.page-body-text {
    padding-top: 400px;
    padding-left: 850px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.make-request {
    margin-top: 400px;
    margin-left: 880px;
    width: 200px;
    height: 50px;
}